.eye .search {
    margin-top: 70px;
    margin-bottom: 50px;
}

.eye .search .pager {
    margin: 20px auto 0;
    display: table;
}

.controls .eye .load-project-info {
    background: url('/images/project.png') no-repeat transparent center;
}