.gmail .gmail_quote {
    color: #500050;
}

.gmail .gmail_extra {
    color: #777;
    display: none;
}

.gmail .gmail-extra {
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 10px;
    line-height: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, .06);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

.gmail .message .header {
    cursor: pointer;
    padding-top: 10px;
}

.gmail .message .body {
    margin-top: 10px;
}

.gmail .message .header .summary {
    color: #777;
}

.gmail .ash {
    background-color: rgba(0, 0, 0, .04);
}

.gmail .message {
    padding: 0 6px 10px;
    border: 1px solid #D8D8D8;
    border-bottom: none;
}

.gmail .messages .subject {
    padding: 10px 6px;
}

.tools .gmail .back {
    background: url('/images/back.png') no-repeat transparent center;
    display: none;
}

.tools .gmail .search {
    padding: 2px 5px 2px 5px;
    height: 30px;
}

.gmail .thread .details {
    padding: 8px 5px;
    border: 1px solid #D8D8D8;
    border-bottom: none;
}

.controls .gmail .prev {
    background: url('/images/prev.png') no-repeat transparent center;
}

.controls .gmail .next {
    background: url('/images/next.png') no-repeat transparent center;
}

.controls .gmail .popup {
    background: url('/images/popup.png') no-repeat transparent center;
}

.controllers .btn-group-sm .btn {
    padding: 2px 5px;
    width: 40px;
}