.gmail .gmail_quote {
    color: #500050;
}

.gmail .gmail_extra {
    color: #777;
    display: none;
}

.gmail .gmail-extra {
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 10px;
    line-height: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, .06);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}