.controls .jira .history {
    background: url('/images/history.png') no-repeat transparent center;
}

.controls .jira .recent {
    background: url('/images/recent.png') no-repeat transparent center;
}

.controls .jira .search {
    background: url('/images/search.png') no-repeat transparent center;
}

.controls .jira .btn.active {
    background-color: #D8D8D8;
}

.hiliter.version {
    background-color: #5BC0DE;
}

.hiliter.patch {
    background-color: #D9534F;
}
