.controls .jira .history {
    background: url('/images/history.png') no-repeat transparent center;
}

.controls .jira .recent {
    background: url('/images/recent.png') no-repeat transparent center;
}

.controls .jira .search {
    background: url('/images/search.png') no-repeat transparent center;
    display: none;
}

.controls .jira .btn.active {
    background-color: #D8D8D8;
}

.jira .hiliter.version {
    background-color: #5BC0DE;
}

.jira .hiliter.patch {
    background-color: #D9534F;
}

.tools .jira .in-project {
    background: url('/images/filter.png') no-repeat transparent center;
    display: none;
}

.tools .jira .active {
    background-color: #D8D8D8;
}

.jira .status {
    height: 22px;
    width: 20px;
    background: url('/images/status_generic.gif') no-repeat transparent center;
}

.jira .status.open {
    background: url('/images/status_open.gif') no-repeat transparent center;
}

.jira .status.inprogress {
    background: url('/images/status_inprogress.gif') no-repeat transparent center;
}

.jira .status.waitingonclient {
    background: url('/images/status_needinfo.gif') no-repeat transparent center;
}

.jira .status.waitingonwso2 {
    background: url('/images/status_visible.gif') no-repeat transparent center;
}

.jira .status.resolved {
    background: url('/images/status_resolved.gif') no-repeat transparent center;
}

.jira .status.closed {
    background: url('/images/status_closed.gif') no-repeat transparent center;
}

.jira .status.reopened {
    background: url('/images/status_reopened.gif') no-repeat transparent center;
}

.jira .status.deffered {
    background: url('/images/status_generic.gif') no-repeat transparent center;
}
