body {
    min-width: 800px;
    min-height: 600px;
    font-size: 12px;
}

#sandbox {
    display: none;
}

.container {
    padding: 10px 0 0;
    border-bottom: 1px solid #D8D8D8;
    width: 800px;
}

.toolbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.pager {
    margin: 0 10px 0 0;
}

table {
    font-size: 12px;
}

.table .key {
    width: 90px;
}

.product-badges .badge {
    margin-left: 5px;
}

.product-code {
    color: #D9534F;
    font-weight: bold;
}

.form-control {
    font-size: 12px;
    line-height: 14px;
}

.contents .content {
    position: relative;
    overflow: hidden;
    height: 520px;
    display: none;
    border-bottom: 1px solid #D8D8D8;
}

.pager .btn {
    width: 50px;
    height: 30px;
}

/*
.pager .content {
    display: none;
}
*/

.tools {
    margin-left: 10px;
}

.tools .btn {
    width: 50px;
    height: 30px;
}

.tools .content {
    display: none;
}

.toolbar form {
    margin-bottom: 0;
}

.toolbar .form-group {
    margin-bottom: 0;
}

.toolbar .pager .loading {
    background: url('/images/ajax-loader.gif') no-repeat transparent center;
}

.toolbar .pager .active.loading {
    background: url('/images/ajax-loader-active.gif') no-repeat #D8D8D8 center;
}

/**
 * toolbar styles
 */

.pager .stackoverflow {
    background: url('/images/stackoverflow.png') no-repeat transparent center;
}

.pager .gmail {
    background: url('/images/gmail.png') no-repeat transparent center;
}

.pager .jira {
    background: url('/images/jira.png') no-repeat transparent center;
}

.pager .osqa {
    background: url('/images/osqa.png') no-repeat transparent center;
}

.pager .faq {
    background: url('/images/faq.png') no-repeat transparent center;
}

.pager .eye {
    background: url('/images/eye.png') no-repeat transparent center;
}

.pager .active {
    background-color: #D8D8D8;
}

.btn:active, .btn.active {
    box-shadow: none;
}

.controls {
    height: 28px;
}

.controls .content {
    display: none;
}

.controllers {
    padding: 2px 10px;
}

.hiliter {
    background-color: #FFC;
}

.content .thread .details {
    padding: 8px 5px;
    border: 1px solid #D8D8D8;
    border-bottom: none;
}

.content .message .header {
    cursor: pointer;
    padding-top: 10px;
}

.content .message .body {
    margin-top: 10px;
}

.content .message .header .summary {
    color: #777;
}

.content .ash {
    background-color: rgba(0, 0, 0, .04);
}

.content .message {
    padding: 0 6px 10px;
    border: 1px solid #D8D8D8;
    border-bottom: none;
}

.content .messages .subject {
    padding: 10px 6px;
}

.tools .content .back {
    background: url('/images/back.png') no-repeat transparent center;
    display: none;
}

.tools .content .search {
    padding: 2px 5px 2px 5px;
    height: 30px;
}

.controls .content .prev {
    background: url('/images/prev.png') no-repeat transparent center;
}

.controls .content .next {
    background: url('/images/next.png') no-repeat transparent center;
}

.controls .content .popup {
    background: url('/images/popup.png') no-repeat transparent center;
}

.controllers .btn-group-sm .btn {
    padding: 2px 5px;
    width: 40px;
    height: 25px;
}

.popover {
    min-width: 200px !important;
}

.popover-content {
    padding: 6px;
}

.popover table {
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
}