<table class="table table-striped table-bordered">
    <tr>
        <td>Project</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>Lead</td>
        <td>{{lead.displayName}} &lt;{{lead.name}}&gt;</td>
    </tr>
    <tr>
        <td>Summary</td>
        <td>{{{description}}}</td>
    </tr>
</table>