<div class="row">
    <div class="col-xs-2">
        <div class="btn-group btn-group-sm pull-left">
            <button type="button" class="btn btn-default load-project-info"></button>
        </div>
    </div>
</div>