<div class="row search">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <form role="form">
            <input type="text" class="query form-control" placeholder="Search" required autofocus>
            <div class="pager filters btn-group btn-group-sm">
                <button type="button" class="btn btn-default gmail active" data-id="gmail"></button>
                <button type="button" class="btn btn-default jira" data-id="jira"></button>
                <button type="button" class="btn btn-default stackoverflow" data-id="stackoverflow"></button>
            </div>
        </form>
    </div>
    <div class="col-xs-2"></div>
</div>