<div class="row">
    <div class="col-xs-4">
        <div class="btn-group btn-group-sm pull-left paging" data-start="0">
            <button type="button" class="btn btn-default prev" data-id="prev"></button>
            <button type="button" class="btn btn-default next" data-id="next"></button>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default popup" data-id="popup"></button>
        </div>
    </div>
</div>