<div class="row">
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-6">
                <div class="btn-group btn-group-sm pull-left">
                    <button type="button" class="btn btn-default back" data-id="back"></button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default in-project"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <form role="form">
            <div class="form-group">
                <input type="text" class="search form-control" placeholder="Search" value="{{query}}">
            </div>
        </form>
    </div>
</div>