<div class="row">
    <div class="col-xs-2">
        <div class="btn-group btn-group-sm pull-left paging">
            <button type="button" class="btn btn-default prev" data-id="prev"></button>
            <button type="button" class="btn btn-default next" data-id="next"></button>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="btn-group btn-group-sm pull-left tabs">
            <button type="button" class="btn btn-default history"></button>
            <button type="button" class="btn btn-default recent"></button>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default popup hidden" data-id="popup"></button>
        </div>
    </div>
</div>