<div class="threads">
    {{#.}}
        <div class="row thread">
            <div class="col-xs-12">
                <div class="row details">
                    <div class="col-xs-9 subject"><a href="#" data-id="{{key}}">[{{key}}] {{fields.summary.value}}</a></div>
                    <div class="col-xs-3 time">
                        <!--<div class="pull-right">{{ago updated}}</div>-->
                    </div>
                </div>
            </div>
        </div>
    {{/.}}
</div>